.main-sec {
    position: relative; /* Ensure main section positioning context */
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    overflow: hidden; /* Ensure no overflow is visible */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content:space-between; */
    background-color: rgba(0, 0, 0, 0.265);
    gap: 10em;
}

.main-sub-sec1, .main-sub-sec2 {
    display: flex;
    gap: 0.9em;
}

.main-sub-sec1{
    width: 36%;
    margin-top: 5em;
    /* background-color: blue; */
}
.main-sec::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Full width of the viewport */
    height: 100%; /* Full height of the viewport */
    background: url(../Images/banner-bg.png) no-repeat; /* Background image settings */
    background-size: cover; /* Cover the element with the background image */
    z-index: -1; /* Ensure it is behind the content */
}


.main-text h1{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    align-items: start;
    color: white;
    font-size: 3em;
    overflow: hidden;
    white-space: nowrap;
}
.main-text p{
    margin-top: 1em;
    color: white;
}
.main-text div{
    width: 29em;
    margin-left: 6.2em;
    text-align: justify;
    
}
.txt-rotate .wrap {
    border-right: 0.08em solid #cab3da; /* Cursor effect */
}
.txt-rotate{
    color: #8f75e4;
}

.main-sub-sec2{
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    /* background-color: red; */
}
.main-sub-sec2 img{
    width: 72%;
    animation: upDown 4s infinite ease-in-out;
}
@keyframes upDown {
        0% {
            transform: translateY(-20px);
        }
        50% {
            transform: translateY(20px);
        }
        100% {
            transform: translateY(-20px);
        }
}