

.last-line{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100vw;
    height: 3em;
    background: linear-gradient(180deg, #000000ae, #000000ae, #000000ae, #000000ae, #000000ae,#000000ae,#000000ae,#000000ae,#000000ae, #00b1e4, #0c323e);
}
.last-line ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1em;
    font-size: 0.8em;
}
.vertical-line{
    width: 0.08em;
    height: 0.6em;
    background-color: white;
}
.last-line ul a{
    color: white;
    text-decoration: none;
}
.last-line ul a:hover{
    cursor: pointer;
    color: #00b1e4;
}
.last-line ul a:visited{
    color: white;
    text-decoration: none;
}
.foot-social-icons{
    border-radius: none;
}

/* For smaller mobile devices */
@media (max-width:480px) and (min-width: 320px) {
    footer{
        margin-top: 28em;
    }
}