.project-sec{
    width: auto;
    height: 30em;
    background-color: #0d0d0d;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
}
.project-sec-div h2{
    /* margin-top: 2em; */
    color: white;
    font-size: 1.8em;
}
.project-sec>div{
    display: flex;
    flex-direction: column;
    gap: 1.4em;
    justify-content: center;
    align-items: center;
    width: 86%;
    height: 100%;
    background-color: black;
    padding: 2em;
    border-radius: 64px;
    border: 1px solid #893492;
}
.proj-bttns-div{
    /* margin-top: 2em; */
    width: 54%;
    height: 15%;
    border:  0.5px solid white;
    border-radius: 64px;
    display: flex;
    background: linear-gradient(105deg, #000000ae,#893492, #8f75e4);
}
.proj-bttn{
    padding: 1.5em;
    border-style: none;
    width: 100%;
    background-color: transparent; 
    color: white;
    font-weight: 600;
    
}
.proj-bttn:hover{
    cursor: pointer;
    /* background: linear-gradient(105deg, #000000ae, #8f75e4); */
    background-color: #0d0d0d;
    opacity: 90%;
}
.tech-btn{
    border-radius: 64px 0px 0px 64px;
    background-color: #0d0d0d;
}
.content-btn{
    border-radius: 0px 64px 64px 0px;
}
.designs-btn{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.projects img{
    width: 18em;
    height: 14em;
    border-radius: 44px;
    border:  0.5px solid white;
    filter: grayscale(100%);
    box-shadow: 5px 4px 5px  #8f75e4;
    z-index: 2;
}
.project-img-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 100%;
    /* background-color: blue; */
}
.projects img:hover{
    /* transform: scale(1.1); */
    border: 2px solid #8f75e4;
    box-shadow: 6px 4px 6px  #8f75e4;
    /* filter: blur(2px); */
    filter: grayscale(0%);
}
.projects{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.projects a{
    padding-top: 1em;
    background-color: transparent;
    color: white;
    border-radius: 0px 0px 100px 100px;
    height: 3em;
    width: 80%;
    
}
.projects a:hover{
    color: yellow;
    cursor: pointer;
    transform: scale(1.1);
}